/**************************************************** custom default */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  cursor: default;
  position: relative; /* for footer */
  min-height: 100vh; /* for footer */
}

/**************************************************** home */
#main-title {
  text-align: center;
}

#main-title h1 {
  font-size: 2rem;
}

@media (min-width: 600px) {
  #customImgStyle {
    margin: auto 20%;
    width: 60%;
  }
}

@media (min-width: 992px) {
  #contentWrap1 {
    padding-bottom: 7.5rem;
  }

  .custom-img {
    width: 50%;
    margin: 2rem 30%;
  }
}

/**************************************************** about */
#contentWrap2 {
  padding-bottom: 7.5rem; /* for footer */
}

@media (min-width: 600px) {
  .custom-img {
    width: 60%;
    margin: 2rem 20%;
  }
}

/**************************************************** air crafts */
#contentWrap3 {
  padding-bottom: 5.5rem;
}

/*************************************** footer */
#footer {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  padding: 3rem 0 4rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2.5rem;
}
